#Importing the raw Storygraph data and previewing it

In [48]:
import pandas as pd
from datetime import datetime
import glob
import os

list_of_files = glob.glob('data/raw-data/books/*')
latest_file =max(list_of_files, key=os.path.getctime)
books_data = pd.read_csv(latest_file)

# Load the dataset
#books_data = pd.read_csv('data/raw-data/books/storygraph-data-11-23.csv')

# Preview the data
print(books_data.head())

                                               Title                Authors  \
0                               Parable of the Sower      Octavia E. Butler
1  He/She/They: How We Talk About Gender and Why ...        Schuyler Bailar
2                The Hundred Years' War on Palestine         Rashid Khalidi
3                                           Piranesi         Susanna Clarke
4                                 Sea of Tranquility  Emily St. John Mandel

                                        Contributors       ISBN/UID  \
0                                                NaN  9780446675505
1                                                NaN  9780306831874
2                          Fajer Al-Kaisi (Narrator)  9781250769473
3                        Chiwetel Ejiofor (Narrator)  9781526622419
4  Kirsten Potter (Narrator), John Lee (Narrator)...  9780593552070

      Format Read Status  Date Added Last Date Read             Dates Read  \
0  paperback     to-read  2024/11/16            NaN                    NaN
1  hardcover     to-read  2024/11/02            NaN                    NaN
2      audio        read  2024/10/29     2024/10/29  2024/10/29-2024/10/29
3      audio        read  2024/08/27     2024/08/27  2024/08/27-2024/08/27
4      audio        read  2024/11/06     2024/11/06  2024/11/06-2024/11/06

   Read Count  ...  Strong Character Development?  Loveable Characters?  \
0           0  ...                            NaN                   NaN
1           0  ...                            NaN                   NaN
2           1  ...                            NaN                   NaN
3           1  ...                            NaN                   NaN
4           1  ...                            NaN                   NaN

   Diverse Characters?  Flawed Characters?  Star Rating  Review  \
0                  NaN                 NaN          NaN     NaN
1                  NaN                 NaN          NaN     NaN
2                  NaN                 NaN         4.25     NaN
3                  NaN                 NaN         4.25     NaN
4                  NaN                 NaN         3.50     NaN

   Content Warnings  Content Warning Description  Tags  Owned?
0               NaN                          NaN   NaN      No
1               NaN                          NaN   NaN      No
2               NaN                          NaN   NaN      No
3               NaN                          NaN   NaN      No
4               NaN                          NaN   NaN      No

[5 rows x 23 columns]

#Cleaning up the Data

In [49]:
# List of relevant columns to keep
columns_to_keep = ['Title', 'Authors', 'Format', 'Read Status', 'Dates Read', 'Star Rating']

# Drop all other columns
books_data = books_data[columns_to_keep]

# Verify the updated dataframe
books_data.head()

,Title,Authors,Format,Read Status,Dates Read,Star Rating
0,Parable of the Sower,Octavia E. Butler,paperback,to-read,NaN,NaN
1,He/She/They: How We Talk About Gender and Why ...,Schuyler Bailar,hardcover,to-read,NaN,NaN
2,The Hundred Years' War on Palestine,Rashid Khalidi,audio,read,2024/10/29-2024/10/29,4.25
3,Piranesi,Susanna Clarke,audio,read,2024/08/27-2024/08/27,4.25
4,Sea of Tranquility,Emily St. John Mandel,audio,read,2024/11/06-2024/11/06,3.50

#Handling Missing Data

In [50]:
print(books_data.isnull().sum())

Title           0
Authors         0
Format          0
Read Status     0
Dates Read     16
Star Rating    16
dtype: int64

In [51]:
books_data['Dates Read'] = books_data['Dates Read'].fillna('Not Read-Not Read')
print(books_data.isnull().sum())

Title           0
Authors         0
Format          0
Read Status     0
Dates Read      0
Star Rating    16
dtype: int64

In [52]:
print(books_data)

                                                Title                Authors  \
0                                Parable of the Sower      Octavia E. Butler
1   He/She/They: How We Talk About Gender and Why ...        Schuyler Bailar
2                 The Hundred Years' War on Palestine         Rashid Khalidi
3                                            Piranesi         Susanna Clarke
4                                  Sea of Tranquility  Emily St. John Mandel
..                                                ...                    ...
61                                   And the Sky Bled                S. Hati
62   Heir to the Empire: The 20th Anniversary Edition           Timothy Zahn
63                        Wrath of the Triple Goddess           Rick Riordan
64                               The Eye of the World          Robert Jordan
65                                The Handmaid's Tale        Margaret Atwood

       Format Read Status             Dates Read  Star Rating
0   paperback     to-read      Not Read-Not Read          NaN
1   hardcover     to-read      Not Read-Not Read          NaN
2       audio        read  2024/10/29-2024/10/29         4.25
3       audio        read  2024/08/27-2024/08/27         4.25
4       audio        read  2024/11/06-2024/11/06         3.50
..        ...         ...                    ...          ...
61  paperback     to-read      Not Read-Not Read          NaN
62      audio        read  2024/10/24-2024/10/25         4.00
63      audio        read  2024/09/24-2024/09/24         3.75
64      audio        read  2024/10/09-2024/10/11         3.50
65      audio        read  2024/11/11-2024/11/12         4.00

[66 rows x 6 columns]

#Standardizing Data

In [53]:
print(books_data['Read Status'].unique())
print(books_data['Format'].unique())

['to-read' 'read']
['paperback' 'hardcover' 'audio' 'digital']

In [54]:
# Standardize 'Read Status' and 'Format'
books_data['Read Status'] = books_data['Read Status'].str.lower().str.strip()
books_data['Format'] = books_data['Format'].str.lower().str.strip()

In [55]:
print(books_data)

                                                Title                Authors  \
0                                Parable of the Sower      Octavia E. Butler
1   He/She/They: How We Talk About Gender and Why ...        Schuyler Bailar
2                 The Hundred Years' War on Palestine         Rashid Khalidi
3                                            Piranesi         Susanna Clarke
4                                  Sea of Tranquility  Emily St. John Mandel
..                                                ...                    ...
61                                   And the Sky Bled                S. Hati
62   Heir to the Empire: The 20th Anniversary Edition           Timothy Zahn
63                        Wrath of the Triple Goddess           Rick Riordan
64                               The Eye of the World          Robert Jordan
65                                The Handmaid's Tale        Margaret Atwood

       Format Read Status             Dates Read  Star Rating
0   paperback     to-read      Not Read-Not Read          NaN
1   hardcover     to-read      Not Read-Not Read          NaN
2       audio        read  2024/10/29-2024/10/29         4.25
3       audio        read  2024/08/27-2024/08/27         4.25
4       audio        read  2024/11/06-2024/11/06         3.50
..        ...         ...                    ...          ...
61  paperback     to-read      Not Read-Not Read          NaN
62      audio        read  2024/10/24-2024/10/25         4.00
63      audio        read  2024/09/24-2024/09/24         3.75
64      audio        read  2024/10/09-2024/10/11         3.50
65      audio        read  2024/11/11-2024/11/12         4.00

[66 rows x 6 columns]

In [56]:
problematic_row = books_data[books_data['Dates Read'].str.split('-').apply(len) == 3]
print(problematic_row)

Empty DataFrame
Columns: [Title, Authors, Format, Read Status, Dates Read, Star Rating]
Index: []

#Identifying and Cleaning Inconsistent Dates Read

In [57]:
books_data['Dates Read'] = books_data['Dates Read'].str.split(',', n=1).str[0]

In [58]:
books_data[['Date Started', 'Date Finished']] = books_data['Dates Read'].str.split('-', expand=True)

In [59]:
books_data['Date Started'] = pd.to_datetime(books_data['Date Started'], errors='coerce')
books_data['Date Finished'] = pd.to_datetime(books_data['Date Finished'], errors='coerce')

C:\Users\hasan\AppData\Local\Temp\ipykernel_8608\921693697.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  books_data['Date Started'] = pd.to_datetime(books_data['Date Started'], errors='coerce')
C:\Users\hasan\AppData\Local\Temp\ipykernel_8608\921693697.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  books_data['Date Finished'] = pd.to_datetime(books_data['Date Finished'], errors='coerce')

In [60]:
print(books_data)

                                                Title                Authors  \
0                                Parable of the Sower      Octavia E. Butler
1   He/She/They: How We Talk About Gender and Why ...        Schuyler Bailar
2                 The Hundred Years' War on Palestine         Rashid Khalidi
3                                            Piranesi         Susanna Clarke
4                                  Sea of Tranquility  Emily St. John Mandel
..                                                ...                    ...
61                                   And the Sky Bled                S. Hati
62   Heir to the Empire: The 20th Anniversary Edition           Timothy Zahn
63                        Wrath of the Triple Goddess           Rick Riordan
64                               The Eye of the World          Robert Jordan
65                                The Handmaid's Tale        Margaret Atwood

       Format Read Status             Dates Read  Star Rating Date Started  \
0   paperback     to-read      Not Read-Not Read          NaN          NaT
1   hardcover     to-read      Not Read-Not Read          NaN          NaT
2       audio        read  2024/10/29-2024/10/29         4.25   2024-10-29
3       audio        read  2024/08/27-2024/08/27         4.25   2024-08-27
4       audio        read  2024/11/06-2024/11/06         3.50   2024-11-06
..        ...         ...                    ...          ...          ...
61  paperback     to-read      Not Read-Not Read          NaN          NaT
62      audio        read  2024/10/24-2024/10/25         4.00   2024-10-24
63      audio        read  2024/09/24-2024/09/24         3.75   2024-09-24
64      audio        read  2024/10/09-2024/10/11         3.50   2024-10-09
65      audio        read  2024/11/11-2024/11/12         4.00   2024-11-11

   Date Finished
0            NaT
1            NaT
2     2024-10-29
3     2024-08-27
4     2024-11-06
..           ...
61           NaT
62    2024-10-25
63    2024-09-24
64    2024-10-11
65    2024-11-12

[66 rows x 8 columns]

In [61]:
# Dropping Dates Read Column
books_data = books_data.drop(columns=['Dates Read'])

In [63]:
# Save the cleaned dataframe to a CSV file
currentDateTime = datetime.now().strftime("%m-%d-%Y %H-%M-%S %p")



books_data.to_csv(f'data/cleaned-data/books/cleaned_books_data {currentDateTime}.csv', index=False)